src/
scripts/
tsconfig.json
tsconfig.*.json
*.test.ts
*.spec.ts
dist/**/*.test.js
dist/**/*.test.d.ts
dist/**/*.spec.js
dist/**/*.spec.d.ts
.env
.env.*
node_modules/
coverage/
.turbo/
.cache/
.github/
.vscode/
.idea/
.DS_Store
.*
